{% extends "default.j2" %}
{% block title %}Welcome to Pseudo-UCR{% endblock %}
{% block content %}
<h1>Helper for prototyping reports, scripts, and APIs via a simple web app</h1>

<p>
  Current behaviors that are available:
</p>
<ul>
  <li><a href="/pipeline">Custom Pipeline Viewer</a></li>
</ul>

{% endblock %}
