
body {
    background-color: #fff;
    background-image: url('/static/sos.png');
}

nav ul
{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav ul li
{
  display: inline;
  float: left;
}

nav ul li a {
    display: block;
    width: 150px;
}

main
{
  font-family: Georgia;
  font-size: 1em;
}

.phases
{
  border: 0px solid;
  overflow:hidden;
}

.phase
{
  border: 1px dotted #ddd;
  display: inline;
  float: left;
  font-size: 0.75em;
  width: 200px;
}

.environment
{
  background: #ddd;
  margin: 0.25em;
}

.versions
{
  margin-left: 0.25em;
}

.suite
{
 background-color: #93B86E;
 padding: 0.25em;
}

.application
{
  background-color: #CCFF99;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-bottom: 0.1em;
  padding: 0.1em
}

.component
{
  background-color: #F0FFD1;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0.1em;
}

.label
{
  font-family: georgia;
}
